#home {
    position: relative;
}

#mainContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#mainNav {
    list-style-type: none;
}

#mainMsg {
    position: absolute;
    top: 50%;
    left: 50%;
    
    & h1 {
        font-size: 3em;
    }
}